.page-blog .description {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


.page-blog .description .img-item {
  height: 312px;
  width: 360px;
  background-size: cover;
  background-position: center;
  margin: 0 ;
}

.page-blog .description .img-chegada {
  background: url("../img/blog-img-chegada-mobile-tablet.jpg") no-repeat center;
}

.page-blog .description .img-tokyo {
  background: url("../img/blog-img-tokyo-mobile.jpg") no-repeat center;
}

.page-blog .description .legenda {
  display: block;
  margin-top: 8px;
  color: var(--text-primary-color);
  font-size: 14px;

}


/* ==========================================================
   MEDIA QUERY: TABLET (Mínimo de 768px)
   ========================================================== */
@media screen and (min-width: 768px) {
  .page-blog .description .tokyo {
    background: url("../img/tokyo-tablet-desktop.jpg") no-repeat center;
  }

  .osaka {
    background: url("../img/osaka-tablet-desktop.jpg") no-repeat center;
  }

  .img-item {
    width: 648px;
    height: 452px;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
  }

  .destinations .button {
    width: 280px;
  }

  /* Agora o container se expande para 648px acompanhando o tamanho da foto */
  .destinations {
    max-width: 648px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

/* ==========================================================
   MEDIA QUERY: DESKTOP (Mínimo de 1024px)
   ========================================================== */
@media screen and (min-width: 1024px) {
  .destinations {
    max-width: 1024px; /* Ajustado para o limite físico da tela */
    margin: 0 auto;
  }

  .destinations-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 14px;
    width: 100%;
  }

  .destino-tokyo,
  .destino-osaka {
    width: 488px; /* Ajustado para 488px */
    display: flex;
    flex-direction: column;
  }

  .img-item {
    width: 488px;
    height: 452px;
    background-size: cover;
    background-position: center;
  }

  .destino-tokyo h3,
  .destino-osaka h3,
  .destino-tokyo p,
  .destino-osaka p {
    width: 100%;
    max-width: 488px;
  }

  .destino-tokyo .button,
  .destino-osaka .button {
    width: 280px;
    margin-right: auto;
  }
}

@media screen and (min-width: 1440px) {
  .destinations {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
  }

  .destinations-items {
    gap: 24px;
  }

  .destino-tokyo,
  .destino-osaka {
    width: 588px;
  }

  .img-item {
    width: 588px;
    height: 452px;
  }

  .destino-tokyo h3,
  .destino-osaka h3,
  .destino-tokyo p,
  .destino-osaka p {
    max-width: 588px;
  }
}
