ul.category-cards {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column; /* Coloca um card abaixo do outro */
  align-items: center; /* Centraliza os cards na horizontal */
  gap: 32px; /* Espaçamento perfeito do Figma */
}

.card-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;

  background-color: var(--background-secondary-color);
  border-radius: 8px;

  /* Força o preenchimento a ficar DENTRO dos 280x200px */
  box-sizing: border-box;
  padding: 24px 16px;
  width: 312px;
  height: 220px;

  text-decoration: none;
  text-align: center;
}

.card-text {
  color: var(--text-primary-color); /* Usando sua variável #222222 */
  font-weight: var(--title-weight); /* Usando seu peso de negrito (700) */
  font-size: 28px; /* Ajustado para o padrão do Figma */
}

.card-link img {
  width: 80px;
  height: 80px;
  object-fit: contain; /* Garante que a imagem não distorça ou amasse ao ser forçada para 80x80 */
}
