.section-title {
  width: 312px;
  margin: 0 auto;
}

.category {
  padding: 88px 24px 0 24px;
}
ul.category-cards {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column; /* Coloca um card abaixo do outro */
  align-items: center; /* Centraliza os cards na horizontal */
  gap: 32px; /* Espaçamento perfeito do Figma */
}

.card-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background-color: var(--background-secondary-color);
  border-radius: 16px;

  /* Força o preenchimento a ficar DENTRO dos 280x200px */
  box-sizing: border-box;
  padding: 24px 16px;
  width: 312px;
  height: 220px;

  text-decoration: none;
  text-align: center;
}

h3.card-text {
  color: var(--text-primary-color);
  font-weight: var(--title-weight);
  font-size: 28px;
  margin: 0;
}

.card-link img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

/* ==========================================================
   TABLET (Mínimo de 768px): 2 colunas e 2 linhas
   ========================================================== */
@media screen and (min-width: 768px) {
  ul.category-cards {
    flex-direction: row; /* Alinha lado a lado */
    flex-wrap: wrap; /* Permite quebrar linha quando não couber */
    justify-content: center; /* Centraliza o bloco na tela */
    gap: 32px; /* Mantém o espaçamento do Figma */
  }
  .section-title {
  width: 366px;
 }

/* ==========================================================
   DESKTOP / PC (Mínimo de 1024px): 1 linha com cards menores
   ========================================================== */
@media screen and (min-width: 1024px) {
  ul.category-cards {
    flex-wrap: nowrap; /* Garante que todos vão ficar na mesma linha */
  }

  .card-link {
    /* Diminuímos o tamanho conforme a imagem do Figma (281.25px x 220px) */
    width: 281px;
    height: 220px;
  }
}

/* As outras queries maiores (1440px, 1920px) herdam o comportamento
   de 1024px, ficando centralizadas automaticamente */
@media screen and (min-width: 1440px) {
}
@media screen and (min-width: 1920px) {
}
