.footer-img-background {
  background: url("../img/footer-img-background-mobile.jpg") no-repeat center;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
}

.rodape-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rodape-conteudo {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 0 auto;
  padding: 32px 24px 32px 24px;
  width: 100%;
}

.rodape-conteudo p {
  color: var(--text-secondary-color);
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  max-width: 312px;
}

.rodape-redes {
  margin-top: 32px;
}
.rodape-logo {
  width: 161px;
  height: 40px;
  margin-bottom: 16px;
  gap: 8px;
}

.rodape-icone {
  width: 32px;
  height: 32px;
  margin: 0 8px;
}

@media (min-width: 768px) {
  .footer-img-background {
    background: url("../img/footer-img-background-tablet.jpg") no-repeat center;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
  }
  .rodape-conteudo p {
    max-width: 591px;
  }
}

@media (min-width: 1024px) {
  .rodape-conteudo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px 120px;
  }

  .rodape-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
  }

  .rodape-conteudo p {
    max-width: 591px;
    text-align: left;
    margin: 0;
  }

  .rodape-redes {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
  }
}
