.hero-img {
  height: 400px;
  width: 100%;
  background: url("../img/hero-mobile.jpg") no-repeat center;
  background-size: cover;
}

.hero h2 {
  padding: 88px 24px;
  margin: 0px;
  line-height: 1.2;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .hero h2 {
    padding: 88px 60px;
    font-size: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .hero-img {
    background: url("../img/hero-desktop.jpg") no-repeat center;
    background-size: cover;
  }
  .hero h2 {
    padding: 88px 120px;
  }
}

@media screen and (min-width: 1920px) {
  .hero h2 {
    padding: 88px 160px;
  }
}

/* ============= Pacotes de viagens ============== */

.page-packages .travel-packages .hero-img {
  background: url("../img/package-hero-japao-mobile.jpg") no-repeat center;
  background-size: cover;
  margin-bottom: 88px;
  padding-top: 65px;
}

.page-packages .travel-hero-content {
  width: 312px;
  height: 330px;
  margin-left: 24px;
  line-height: 1.2;
  text-align: left;
}

.page-packages .travel-packages h1 {
  color: var(--text-secondary-color);
  font-size: 48px;
  font-weight: var(--title-weight);
  text-align: left;
  line-height: 100%;
  text-align: left;
}
.page-packages .travel-packages hr {
  width: 180px;
  height: 4px;
  background-color: var(--secondary-color);
  border: none;
  margin: 16px 0 32px;
}

.page-packages .travel-packages p {
  color: var(--text-secondary-color);
  font-size: 20px;
  text-align: left;
  margin: 0px;
  line-height: 32px;
}

/* ============= Package Tablet ============== */

@media screen and (min-width: 768px) {
  .page-packages .travel-packages .hero-img {
    background: url("../img/package-hero-japao-tablet.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 620px;
    padding: 209px 69px 107px 120px;
  }
  .page-packages .travel-hero-content {
    width: 579px;
    height: 303px;
    margin-left: 24px;
    line-height: 1.2;
    text-align: left;
  }

  .page-packages .travel-packages p {
    color: var(--text-secondary-color);
    font-size: 32px;
    text-align: left;
    margin: 0px;
    line-height: 32px;
  }
}

/* ============= Página do Blog (MOBILE) ============== */

.page-blog .hero-img {
  background: url("../img/blog-hero-mobile.jpg") no-repeat center;
  background-size: cover;
  height: 460px;
  padding-top: 65px;
  width: 100vw;
  position: relative;
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.page-blog .hero-blog .hero-content-blog {
  width: 312px;
  height: 330px;
  margin-left: 24px;
  line-height: 1.2;
  text-align: left;
  margin-top: 30px;
  margin-left: 24px;
}

.page-blog .hero-blog h1 {
  color: var(--text-secondary-color);
  font-size: 48px;
  font-weight: var(--title-weight);
  text-align: left;
  line-height: 100%;
}
.page-blog .hero-blog hr {
  width: 180px;
  height: 4px;
  background-color: var(--secondary-color);
  border: none;
  margin: 16px 0 32px;
}

.page-blog .hero-blog p {
  color: var(--text-secondary-color);
  font-size: 20px;
  text-align: left;
  margin: 0px;
  line-height: 32px;
}

/* ============= Blog Tablet/Desktop ============== */

@media screen and (min-width: 768px) {
  .page-blog .hero-blog .hero-img {
    background: url("../img/blog-hero-tablet.jpg") no-repeat center;
    background-size: cover;
    height: 620px;
    padding: 159px 94px 158px 95px;
  }
  .page-blog .hero-blog .hero-content-blog {
    width: 579px;
    height: 303px;
    margin-left: 24px;
    line-height: 1.2;
    text-align: left;
  }

  .page-blog .hero-blog p {
    color: var(--text-secondary-color);
    font-size: 32px;
    text-align: left;
    margin: 0px;
    line-height: 1.5;
  }
}

/* ============= Página de Contato (MOBILE) ============== */

.page-contact .hero-img {
  background: url("../img/contact-hero-img-mobile.jpg") no-repeat center;
  background-size: cover;
  height: 460px;
  padding-top: 65px;
  width: 100vw;
  position: relative;
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
.page-contact .hero-contact .hero-content-contact {
  width: 312px;
  height: 330px;
  margin-left: 24px;
  line-height: 1.2;
  text-align: left;
  margin-top: 30px;
  margin-left: 24px;
}

.page-contact .hero-contact h1 {
  color: var(--text-secondary-color);
  font-size: 48px;
  font-weight: var(--title-weight);
  text-align: left;
  line-height: 100%;
}
.page-contact .hero-contact hr {
  width: 180px;
  height: 4px;
  background-color: var(--secondary-color);
  border: none;
  margin: 16px 0 32px;
}

.page-contact .hero-contact p {
  color: var(--text-secondary-color);
  font-size: 20px;
  text-align: left;
  margin: 0px;
  line-height: 32px;
}
