.hero-img,
.travel-packages .hero-img {
  height: 400px;
  width: 100%;
  background: url("../img/hero-mobile.jpg") no-repeat center;
  background-size: cover;
}

.hero h2 {
  padding: 88px 24px;
  margin: 0px;
  line-height: 1.2;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .hero h2 {
    padding: 88px 60px;
    font-size: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .hero-img {
    background: url("../img/hero-desktop.jpg") no-repeat center;
    background-size: cover;
  }
  .hero h2 {
    padding: 88px 120px;
  }
}

@media screen and (min-width: 1920px) {
  .hero h2 {
    padding: 88px 160px;
  }
}

/* Pacotes de viagens */

.travel-packages .hero-img {
  background: url("../img/package-hero-japao-mobile.jpg") no-repeat center;
  background-size: cover;
}

.travel-packages h1 {
  color: var(--text-secondary-color);
  font-size: 48px;
  font-weight: var(--title-weight);
  text-align: left;
  padding: 88px 24px;
  margin: 0px;
  line-height: 100%;
  text-align: left;
}
.travel-packages hr {
  width: 180px;
  height: 4px;
  background-color: var(--secondary-color);
  border: none;
  margin: 0;
}

.travel-packages p {
  color: var(--text-secondary-color);
  font-size: 20px;
  text-align: left;
  padding: 0px 24px;
  margin: 0px;
  line-height: 32px;
  text-align: left;
}
