.payments .img-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* Substitua o height total por grid-template-rows para dar altura real às 2 linhas: */
  grid-template-rows: 254px 182px;
  gap: 24px;
  width: 100%;
  max-width: 312px; /* Segura a largura para não vazar na tela mobile */
  margin: 24px auto 0;
}

.payments .img-gallery .img.first {
  background: url("../img/grid-mala.jpg") no-repeat center;
  background-size: cover;
}

.payments .img-gallery .img.second {
  background: url("../img/grid-passaportes.jpg") no-repeat center;
  background-size: cover;
}

.payments .img-gallery .img.third {
  background: url("../img/grid-pessoas.jpg") no-repeat center;
  background-size: cover;
}

.payments .img-gallery .img.colspan-2 {
  grid-column: span 2;
}
